#gridbugs {
    margin-top: 20px;
}

#gridbugs .card {
    width: 200px;
}

.card {
    width: 200px;
}

.imageCard {
    width: 200px;
}

.modalCard {
    width: 100%;
}
.ui.modal > .content > .description.resourceDesc {
    flex: 1 1 auto;  
}